In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
# list into a 1D dataframe
l1 = ['pandas',45,67,'A',23.67]
df = pd.DataFrame(l1)
print(df)
print(type(df))

        0
0  pandas
1      45
2      67
3       A
4   23.67
<class 'pandas.core.frame.DataFrame'>

In [8]:
# nested list of list into a 2D dataframe
l2 = [[1,2],[3,6,9],[4,7]]
df = pd.DataFrame(l2)
print(df)

   0  1    2
0  1  2  NaN
1  3  6  9.0
2  4  7  NaN

In [9]:
# nested tuple of tuple into a 2D dataframe
t1 = (('E011','Swetha'),('E025','Keshav'),('E045','Jake'),('E124','josh'))
df = pd.DataFrame(t1)
print(df)

      0       1
0  E011  Swetha
1  E025  Keshav
2  E045    Jake
3  E124    josh

In [10]:
# nested list of set into a 2D dataframe
# sets cannot store mutable type of data in it.
l3 = [{1,'kitkat'},{3,'Fuse'},{2,'jimjam'},{4,'CrackJack'}]
df = pd.DataFrame(l3)
print(df)

           0       1
0          1  kitkat
1          3    Fuse
2     jimjam       2
3  CrackJack       4

In [11]:
# create a DataFrame from the Dictionary
food_dict = {
    "Name":['Five Star','kitkat','Fuse','Crack Jack','Dairy Milk'],
    "Count":[5,50,34,12,65]
}
df = pd.DataFrame(food_dict)
print(df)

         Name  Count
0   Five Star      5
1      kitkat     50
2        Fuse     34
3  Crack Jack     12
4  Dairy Milk     65

In [15]:
# Convert the Series to DataFrame
ser = pd.Series([1,2,3,4,5],name = 'Count')
df1 = pd.DataFrame(ser)
df2 = ser.to_frame()
print(ser)
print(df1)
print(type(df1))
print(df2)
print(type(df2))

0    1
1    2
2    3
3    4
4    5
Name: Count, dtype: int64
   Count
0      1
1      2
2      3
3      4
4      5
<class 'pandas.core.frame.DataFrame'>
   Count
0      1
1      2
2      3
3      4
4      5
<class 'pandas.core.frame.DataFrame'>